extends layout
block content
	.container.page-homepage
		include header
		.module.clearfix
			.ideas
				h2
					a.button.new-entry(href='admin/edit') New entry
					| Ideas
				form.form-idea(action='index.php?page=edit', method='post', accept-charset='utf-8')
					input(type='hidden', name='action', value='dashboard_submit')
					input#_wpnonce(type='hidden', name='_wpnonce', value='780e166654')
					input(type='hidden', name='_wp_http_referer', value='/wp-svbtle/wp-svbtle/index.php?page=dashboard')
					input#idea_title.start_typing(type='text', name='idea_title', value='', placeholder='Start typing an idea here...')
				
				for idea in ideas
					p
						a(href='/admin/edit/' + idea.id)= idea.title

		.published.module
			h2 Published

			for publication in publications
				p
					a(href='/admin/edit/' + publication.id)
						span.word-count= publication.contentLength
						= publication.title	