extends layout
block content
	.container.page-homepage
		include header
		.module.clearfix
			.ideas
				h2
					a.button.new-entry(href='admin/new') New entry
					| Ideas
				form.form-idea(action='/admin/edit', method='post', accept-charset='utf-8', enctype='multipart/form-data')
					input#idea_title.start_typing(type='text', name='post[title]', value='', placeholder='Start typing an idea here...')
				
				for idea in ideas
					p
						a(href='/admin/edit/' + idea.id)= idea.title

		.published.module
			h2 Published

			for publication in publications
				p
					a(href='/admin/edit/' + publication.id)
						span.word-count= publication.content.length
						= publication.title	
