extends layout
block content
	.wrap
		div.clearfix
			a(href="/logout", class="button-icon logout") 
			a(href="/admin/settings", class="button-icon settings") 
		.module.clearfix
			.ideas
				h2
					a.button.new-entry(href='admin/edit') New entry
					| Ideas
				form.form-idea(action='index.php?page=edit', method='post', accept-charset='utf-8')
					input(type='hidden', name='action', value='dashboard_submit')
					input#_wpnonce(type='hidden', name='_wpnonce', value='780e166654')
					input(type='hidden', name='_wp_http_referer', value='/wp-svbtle/wp-svbtle/index.php?page=dashboard')
					input#idea_title.start_typing(type='text', name='idea_title', value='', placeholder='Start typing an idea here...')
				
				for idea in ideas
					p
						a(href='/admin/edit/' + idea.id)= idea.title
			
			
			// .ideas 
		// .ideas 
		.published.module
			h2 Published
			p
				a(href='index.php?page=edit&amp;id=380')
					span.word-count 1
					| ricky
			p
				a(href='index.php?page=edit&amp;id=412')
					span.word-count 1
					| asdasd
			p
				a(href='index.php?page=edit&amp;id=409')
					span.word-count 0
					| Ricky
			p
				a(href='index.php?page=edit&amp;id=396')
					span.word-count 2
					| final
			p
				a(href='index.php?page=edit&amp;id=381')
					span.word-count 1
					| probando
			p
				a(href='index.php?page=edit&amp;id=360')
					span.word-count 1
					| asdasd
			p
				a(href='index.php?page=edit&amp;id=304')
					span.word-count 1
					| asdasd
			p
				a(href='index.php?page=edit&amp;id=293')
					span.word-count 374
					| Test
			p
				a(href='index.php?page=edit&amp;id=287')
					span.word-count 374
					| Down
			p
				a(href='index.php?page=edit&amp;id=285')
					span.word-count 1
					| Probando
		// .name 
