extends layout
block content

	.container.page-settings
		include header
		.eight.columns
			h2 Settings
		
			form	
				label	Your Name
				p
					input(type="text", class="text")

				label	Blog Name
				p	
					input(type="text", class="text")

				label	Blog url
				p	
					input(type="text", class="text")

				label	Twitter Account
				p	
					input(type="text", class="text")

				label	Small Bio
				p
					textarea(class="textarea")

		.eight.columns
			h2	Your theme

		.sixteen.columns
			input(type="submit", class="button")