extends layout
block content

	.container.page-settings
		include header
		form(action="/admin/settings", method="post")

			.eight.columns.settings-col
				h2 Settings
			
				label	Blog URL
				p	
					input(name="settings[blogUrl]", type="text", class="text", value="#{user.blogUrl}")

				label	Wordpress username
				p	
					input(name="settings[blogUsername]",type="text", class="text", value="#{user.blogUsername}", placeholder="URL poiting to your blog")

			
				label	Wordpress password
				p
					textarea(name="settings[blogPassword]",class="textarea") #{user.blogPassword}

			.eight.columns
				h2	Your theme
				.themes.clearfix
					p
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim velit, vehicula id tincidunt id, auctor sed leo. Nam porta lacinia eleifend. 

					.four.columns.alpha
						.theme
							img(src="http://placehold.it/210x230")
							span Svbtle Theme

					.four.columns.omega
						.theme
							img(src="http://placehold.it/210x230")		
							span Solar Theme

			.sixteen.columns
				input(type="submit", class="button")