extends layout
block content

	.container.page-settings
		include header

		.eight.columns.settings-col
			h3 Settings
			p XML-RPC functionality is turned off by default in WordPress.

			p To enable, go to 
				a(href="http://codex.wordpress.org/Settings_Writing_Screen#Remote_Publishing", target="_blank") Settings > Writing > Remote Publishing 
				| and check the checkbox.


			form(action="/admin/settings", method="post")

				label	Wordpress URL
				p	
					input(name="settings[blogUrl]", type="text", class="text", value="#{user.blogUrl}")

				label	Wordpress username
				p	
					input(name="settings[blogUsername]",type="text", class="text", value="#{user.blogUsername}", placeholder="URL poiting to your blog")

			
				label	Wordpress password
				p
					input(name="settings[blogPassword]",type="password", class="text", value="#{user.blogPassword}", placeholder="URL poiting to your blog")

				input(type="submit", class="button big", value="Save")
				

		.eight.columns
			h3	Your theme
			.themes.clearfix
				p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim velit, vehicula id tincidunt id, auctor sed leo. Nam porta lacinia eleifend. 

				.four.columns.alpha
					a.theme(href="")
						img(src="http://placehold.it/210x230")
						span Svbtle Theme

				.four.columns.omega
					a.theme(href="")
						img(src="http://placehold.it/210x230")		
						span Solar Theme

