.container
	.twelve.columns
		h1	svbtle
	
	.eight.columns.left-col
		h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae felis sem. Integer volutpat tincidunt velit, id congue sem egestas sed.
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae felis sem. Integer volutpat tincidunt velit, id congue sem egestas sed.


		h3	Sign In
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae felis sem. Integer volutpat tincidunt velit, id congue sem egestas sed.

		a.sb.sb-small.sb-twitter(href='#')
			i
			span Connect with Twitter
		