extends layout
block content
	.container
		.twelve.columns
			h1	wordpress svbtle
		
		.eight.columns.left-col
			h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit.


			form(action="/login", method="post")

				- if(locals.message)
					p.error= message

				p.insertion
					span.insertion-point
					input(type="text", name="host", placeholder="Wordpress Site URL")

				p.insertion
					span.insertion-point
					input(type="text", name="username", placeholder="Wordpress Site Username")


				p.insertion
					span.insertion-point
					input(type="password", name="password", placeholder="Wordpress Site Password")
				span.clearfix We don't store any password or post

				p
					input(type="submit", class="button big") Sign In
				
		.eight.columns