extends layout
block content
	.container
		.twelve.columns
			h1	wordpress svbtle
		
		.eight.columns.left-col
			h4 Simple markdown editor for Wordpress.
			p Works for any theme. Just sign in and start writting.


			form(action="/login", method="post")

				- if(locals.message)
					p.error= locals.message

				p.insertion
					span.insertion-point
					input(type="text", class="text", name="host", placeholder="Wordpress Site URL", tabindex="1", autofocus="autofocus")

				p.insertion
					span.insertion-point
					input(type="text", class="text", name="username", placeholder="Wordpress Site Username", tabindex="2")

				p.insertion
					span.insertion-point
					input(type="password", class="text", name="password", placeholder="Wordpress Site Password", tabindex="3")
				
				p
					input(type="submit", class="button big", value="Sign In") 
				
				small
					span.clearfix We don't store 
						strong any 
						| information.
		
			a(href="http://twitter.com/gravityonmars", target="_blank", class="follow-us") Follow Us for updates
