!!!
html
	head
		title= title
		link(rel='stylesheet', href='https://s3.amazonaws.com/social-buttons/css/social-buttons.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		script(type='text/javascript', src='//use.typekit.net/kps3yra.js')
		script(type='text/javascript')
			try{Typekit.load();}catch(e){}
	body.page-homepage
	block content