<form action="" method="post" enctype="multipart/form-data">
	
	<div class="wrap">

									<input type="hidden" name="action" value="edit">
				<input type="hidden" name="id" value="">
				<input type="hidden" id="_wpnonce" name="_wpnonce" value="41e6392e9b"><input type="hidden" name="_wp_http_referer" value="/wp-svbtle/wp-svbtle/index.php?page=edit">			
			<p>
				<textarea id="post_title" class="text expand" name="post_title" placeholder="Title Here" size="60" tabindex="1" style="height: 44px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; "></textarea>
			</p>

			<p>
				<textarea name="post_content" id="post_content" placeholder="Write post here" class="content expand" tabindex="2" style="height: 71px; overflow: hidden; padding-top: 0px; padding-bottom: 0px; "></textarea>
			</p>

					
	</div><!-- .wrap -->

	<div class="buttons">
				<a href="#external-url" class="open-external button">Option</a>
		
		<div class="double">
			<input type="radio" class="RadioClass" name="post_status" value="draft" id="">
			<a href="#" class="button "><span class="tick">✔</span>	Idea</a>
			
			<input type="radio" class="RadioClass" name="post_status" value="publish" id="">
			<a href="#" class="button "><span class="tick">✔</span> Public</a>
		</div>
		<a href="index.php?page=edit&amp;action=del&amp;id=" class="button remove">Remove</a>
		
		
		<div class="overlay">
			<div id="external-url">
				<label>External Url</label>
				<p><input type="text" placeholder="http://your-url.com" name="external_url" style="border: 1px solid black; padding: 4px; width: 300px" value="" id=""></p>
				<input class="button close-fancy" type="button" value="OK">
			</div>
		</div><!-- .overlay -->

		
		<input type="submit" class="button" value="Save">

	</div><!-- .buttons -->
	
	

</form>