body {
  font-size: 110%;
  color: #4d4d4d;
  margin-top: 1em;
  font-family: helvetica;
}
h1,
h2,
h3,
h4,
h5,
h6,
.button,
.post_title {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: bold;
}
input[type=text] {
  border: 0;
}
input[type=text]:focus {
  outline: none;
}
input.text,
.textarea {
  border: 1px solid #ccc;
  padding: 10px 14px;
  width: 200px;
}
textarea {
  resize: none;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #0184ca;
}
.button,
a.button {
  display: inline-block;
  text-shadow: none;
  border: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #000;
  border-radius: 5px;
  padding: 10px 16px;
}
.button:hover,
.button.checked {
  background-color: #0184ca;
}
.button .tick {
  display: none;
}
.button.checked .tick {
  display: inline-block;
}
#logo {
  position: fixed;
  background: #000;
  border-radius: 100px;
  width: 82px;
  height: 82px;
  bottom: 20px;
  left: 20px;
}
#logo a {
  border: 5px solid #fff;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  margin: 10px;
  float: left;
}
#logo a img {
  width: 100%;
}
a.button-icon {
  display: inline-block;
  background: #000;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
a.button-icon.home {
  background: #000 url("../images/home.png") center no-repeat;
  margin-right: 20px;
}
a.button-icon.settings {
  background: #000 url("../images/settings.png") center no-repeat;
  margin-right: 20px;
}
a.button-icon.logout {
  background: #000 url("../images/logout.png") center no-repeat;
}
.page-homepage a.button-icon.home {
  display: none;
}
.wrap {
  width: 80%;
  margin: auto;
}
.word-count {
  border: 3px solid #333;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 100px;
  width: 38px;
  padding: 10px 0;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}
.module {
  width: 50%;
  float: left;
}
.module h2 {
  padding: 0 5% 0 5%;
  margin: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  font-weight: 900;
  text-transform: uppercase;
}
.module.published {
  opacity: 0.5;
}
.module p {
  border-bottom: 1px solid #ccc;
  padding: 0.7em 5%;
  margin: 0;
}
.module.published p {
  padding: 0.7em 5% 0.6em 5%;
}
.module p:first-child {
  border-top: 1px solid #ccc;
}
.module .ideas {
  border: 8px solid #000;
  min-height: 500px;
}
.module .ideas h2 {
  color: #000;
  font-size: 2em;
  margin-top: 0.4em;
  padding-bottom: 0.3em;
}
.ideas a {
  font-weight: 600;
}
.ideas p {
  line-height: 2.4em;
}
.ideas input.start_typing {
  border: 0;
  font-size: 1.3em;
  color: #0184ca;
  width: 100%;
}
a.button.new-entry {
  float: right;
  display: block;
  padding: 0px 20px;
  margin-top: -2px;
  font-size: 14px;
}
.form-idea {
  padding: 0 5%;
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0 0;
  padding-bottom: 1em;
}
.buttons {
  position: absolute;
  opacity: 0.2;
  text-align: right;
  z-index: 101;
  right: 1.4em;
  left: 200px;
  bottom: 0;
  padding-bottom: 1em;
  background: #fff;
  box-shadow: 0 -50px 30px 10px #fff;
}
.buttons:hover {
  opacity: 1;
}
.buttons .button {
  display: inline-block;
  margin: 5px;
}
.buttons div.double {
  display: inline-block;
  border: 4px solid #000;
  border-radius: 8px;
}
.buttons div.double .RadioClass {
  display: none;
}
.page-edit .wrap {
  margin-left: 200px;
  width: 540px;
  overflow: hidden;
  overflow-y: scroll;
  bottom: 100px;
  position: fixed;
  top: 5em;
}
.page-edit textarea.text,
.page-edit textarea {
  border: 0;
  width: 500px;
}
.page-edit #post_title {
  width: 90%;
}
.page-edit textarea.content {
  font-size: 0.8em;
  line-height: 1.4em;
  resize: none;
  padding-right: 20px;
  padding-bottom: 50px !important;
}
.page-edit input.text:focus,
.page-edit textarea:focus {
  outline: 0;
}
.page-edit #post_title {
  font-size: 2em;
  font-weight: bold;
}
.page-edit .wps-notice {
  width: 80%;
  margin: auto;
  position: absolute;
  left: 10%;
}
.page-edit div.preview {
  position: absolute;
  z-index: 100;
  width: 480px;
  height: 80%;
  top: 25px;
  right: 50px;
  background: #fff;
  display: none;
}
.page-edit div.preview iframe {
  width: 100%;
  height: 100%;
  border: 3px solid #000;
}
.page-edit div.preview .close {
  margin: 0 0 5px;
}
.page-edit .overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
  right: 0;
  z-index: 8010;
  background: rgba(0,0,0,0.6);
}
.page-settings input.text,
.page-settings textarea {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 10px 2%;
}
.page-settings input.text:focus,
.page-settings textarea:focus {
  border-color: #999;
}
.page-settings .settings-col input,
.page-settings .settings-col textarea {
  width: 60%;
}
.page-settings .themes a {
  width: 160px;
  display: inline-block;
  margin-right: 50px;
}
.page-settings .themes a img {
  border: 4px solid #ccc;
  padding: 1px;
}
.page-settings .themes a span {
  display: block;
  font-weight: bold;
  text-align: center;
}
.page-settings .typekit {
  margin-top: 30px;
}
.page-settings .typekit h4 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.page-settings .typekit label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.page-settings .typekit textarea {
  margin-bottom: 20px;
  height: 70px;
  width: 96%;
}
