article.post
  time(datetime='2011-01-12')
    | jan 12
    sup th
    | , 2011
    i
  h2 Title Post
  p
    | For this update we did our best: creating a simple UI, making the installation
    | easier and improving the performance.
  p
    | When I read about Svbtle just seemed to me to write great posts without noise
    | from view. Having a list where these ideas “cooking” and another where the
    | already published is just great. Only someone with experience doing great
    | publications could accomplish this interface.
  img(src='http://gravityonmars.com/wp-content/themes/gom3/images/projects/balloons-io/app-1.png')
  blockquote(cite='http://example.com/facts')
    p
      | When I read about Svbtle just seemed to me to write great posts without noise
      | from view. Having a list where these ideas “cooking” and another where the
      | already published is just great. Only someone with experience doing great
      | publications could accomplish this interface.