!!! 5
html(lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    title Solar
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/themes/solar/stylesheets/style.css')
    script(type='text/javascript', src='//use.typekit.net/kps3yra.js')
    script(type='text/javascript')
      try{Typekit.load();}catch(e){}
  body
    .wrap
      header#header
        nav
          a(href='', title='Website URL') gravityonmars.com
          a(href='', title='Twitter Account') @ricardorauch
          a(href='', title='Contact by Email') say hello
          a(href='', title='RSS Feed') feed
        h1#logo
          a(href='') Logo
        h2 gravityonmars
        h3 Ricardo Rauch

      block content